<h2>Usuarios Registrados</h2>
<div *ngIf="role === 'admin'">
    <button routerLink="/profile/users/new" class="btn-create">Crear Usuario</button>
</div>


<div class="users-container">
    <div class="user-card" *ngFor="let user of users">
        <h3>{{ user.name }}</h3>
        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>Rol:</strong> {{ user.role }}</p>
        <p><strong>Creado:</strong> {{ user.createdAt | date:'short' }}</p>

        <div *ngIf="role === 'admin'" class="actions">
            <button [routerLink]="['/profile/users/edit', user._id]" class="btn-edit">Editar</button>
            <!--<button (click)="deleteUser(user.id)" class="btn-delete">Eliminar</button> -->
        </div>
    </div>
</div>